* {
  box-sizing: border-box;
  margin: 0;
}

.header-title {
  text-align: center;
  margin: 45px 0 25px 0;
  font-family: "Gothic Book";
  font-size: 24px;
  color: #0f4c81;
  font-weight: lighter;
  letter-spacing: 3px;
}

hr {
  width: 100vw;
  margin: 0 auto;
  border-top: 1px solid #0f4c81;
}

main {
  height: 700px;
}

footer {
  width: 100vw;
  height: 59px;
  margin: 0 auto;
  background: #0f4c81;
  margin-top: 10px;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

footer .nav {
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

button {
  display: inline-block;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  color: white;
  margin: 0 100px 0 100px;
  font-family: "Josefin Sans Bold";
  line-height: 20px;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.underline {
  border-bottom: 2px solid white;
}

.vertical-line {
  display: inline-block;
  height: 60%;
  border-left: 1px solid white;
  position: absolute;
  left: 50%;
  margin-left: -0.5px;
  top: 20%;
}

.main-title {
  text-align: center;
  margin: 20px;
  letter-spacing: 0.5rem;
  font-family: "Gothic Bold";
  font-size: 41px;
  color: #0f4c81;
  letter-spacing: 5.1px;
}

.blurb {
  width: 78vw;
  font-family: "Gothic Book";
  color: #0f4c81;
  text-align: center;
  letter-spacing: 1.3px;
  line-height: 30px;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.background-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1000px;
  font-size: 3rem;
}

.buzzword {
  text-transform: uppercase;
  opacity: 62%;
  line-height: 100%;
  color: #e19eaa;
  letter-spacing: 0.4rem;
  font-family: "Gothic Bold";
}

.buzzword-transparent {
  opacity: 12%;
}

.konzeption {
  margin-left: 10px;
  align-self: flex-start;
}

.marketing {
  align-self: flex-end;
  margin-right: 10px;
}

.beratung {
  margin-left: 150px;
}

.programmierung {
  align-self: flex-end;
}

.impressum {
  position: absolute;
  font-family: "Gothic Book";
  font-size: 20px;
  text-align: center;
  color: #0f4c81;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bolder {
  font-family: "Gothic Medium";
}

a {
  color: inherit;
}

/* .impressum p {
  line-height: 1.5rem;
} */

@media only screen and (max-width: 700px) {
  hr {
    width: 90vw;
  }

  main {
    height: auto;
  }

  .header-title {
    font-size: 16px;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  .main-title {
    font-size: 18px;
  }

  .blurb {
    width: 95vw;
    font-size: 13px;
    line-height: 20px;
  }

  .background-container {
    width: 100vw;
    font-size: 1rem;
  }

  .buzzword {
    line-height: 62px;
  }

  .beratung {
    margin-left: 50px;
  }

  .impressum {
    font-size: 15px;
    top: 47%;
  }

  button {
    margin: 0 40px 0 40px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .background-container {
    width: 700px;
    font-size: 2.5rem;
  }

  .buzzword {
    line-height: 100px;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  .blurb {
    width: 95vw;
  }
}
